@import './fonts/fonts.scss';

html, body {
  font-family: 'Lato';
  background-image: url('./image/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden {
  opacity: 0;
}

.pointer-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .75s
}

.fade-delayed-enter-active, .fade-delayed-leave-active {
  transition: opacity .75s;
}

.fade-delayed-enter-active, .fade-enter-active {
  transition-delay: 0.75s
}

.fade-delayed-leave-active {
  transition-delay: 0s;
}

.fade-enter, .fade-leave-to, .fade-delayed-enter, .fade-delayed-leave-to {
  opacity: 0;
  transition-delay: 0s
}